@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(248, 244, 4);
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 10px;
    position: relative;
    z-index: 1;
    text-shadow: 2px 1px 3px black;
}
html, body{ 
  width: 100%;
  height: 100dvh;
  background: black;
  background: url(imagens/fundo-madeira.jpg) no-repeat fixed center;
  background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
#telefone{
    position: absolute;
    width: 250px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    background: url(imagens/frame-iphone.png)no-repeat fixed center;
    background-size: 250px;
}
iframe#tela{
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translate(-50%);
    width: 212px;
    height: 375px;
}
section#redes-sociais img{
    position: relative;
    width: 50px;
    border-radius: 50%;
    right: 20px;
    top: 30px;
    box-sizing: border-box;
}
#redes-sociais{
    text-align: right;
}
section#redes-sociais img:hover{
    border: 2px solid black;
    transition: 0.3s;
    transform: translate(-4%);
}
